<div class="container mt-3">

  <h1>Cocktails</h1>

  <% @cocktails.each do |cocktail| %>
    <p> <%= link_to "#{cocktail.name}", cocktail_path(cocktail)  %> </p>
  <% end %>


  <br>
  <p><%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %></p>


    <%= cl_image_tag("qqqbkdzvum9luc601yt0",
      width: 400, height: 300, crop: :fill) %>
</div>
